html{
	background-color:green;
	height: 100%
}
h4{
	margin-bottom:  0;
}
body{
	margin: 0.5%;
	align-items: center;
	background-color: white;
}
header{
	text-align: center;
}




/* 			Decoracion de la cabeza						*/

.introd{padding: 2.5% 0 2.5% 0;
	background-color:#192d47;
	color:white;
	width: 100%;
	margin:0 auto;
 }
.introd p {margin-top: auto;margin-bottom: auto}

.text-des{
	font-weight: bold;	
	
}
.text-des2{
	color: rgb(150,150,150);
	
}

/*		Aguste de tamaño para separacion del borde		*/

.text-des {
	width: 90%;
	margin: 0 auto;
}
.text-des2{
	width: 90%;
	margin: 0 auto;
}
main{
	width: 90%;
	margin: 0 auto;
}
footer{
	width: 90%;
	margin: 0 auto;
}






/*		Lineas entre header y main				*/
.text-des2 {
	border-bottom-width:3px;
	border-bottom-style: solid;
	border-bottom-color: black;
	margin-bottom: 2px;
}
.text-des2 p{
	margin: 0 auto;
}
main{
	border-top-width:1px;
	border-top-style: solid;
	border-top-color: black;
	margin-top: 3px;

}
/*				retoque de los input			*/
input[type="text" ],
input[type="email" ],
textarea,
select{
	border-radius: 5px;
}
/*				tamaño de los input		*/
#a input{
	width: 95%;
	padding: 3%
}
input[id="zip"]{
	width: 50% !important;
}
textarea{
	width: 100%
}
select{
	width: 95%;
	padding: 3%
}
/* 					colores input					 */
input{
	background-color: rgb(240,240,240);
}
select{
	background-color:rgb(240,240,240)
}
textarea{
	background-color:rgb(240,240,240)
}
.w3-hover-blue:hover{
border-color: blue;
border-style: solid;
}
textarea:hover{
border-color: blue;
border-style: solid;
}

/*	Arreglos mockups			*/ç

label[for="zip"]{
	display: block
}
/*			linea entre Form		*/
#a{
	border-style: solid;
	border-width: 0;
	border-bottom-width: 2px;
	margin-bottom: 10px;
	padding-bottom: 15px
}
#b{
	margin-bottom: 10px
}
/*				separacion de label					*/
#a label{
	display: block;
	padding-top: 15px;
	padding-bottom: 5px;
}
#a label[for="name"]{
	padding-top: 10px
}
/*				texto:requerido						*/
::placeholder{
	text-align:right;
   }

   /*   separaciones   */
.text-des2{

	padding-bottom: 20px;
}
.text-des{
	font-size: 1.3em;
	padding-top: 17px;
}
.text-des p{
	margin-top: 0
}
legend{
	padding-top:15px;
	font-size: 1.29em; 
	font-weight: bold
}

/*	separcion checkbox*/

.container{
	padding-left: 10px;
}
.y{
	margin-bottom: 13px;
	margin-top:13px
}

/*			margen y padding de input radio		*/

.R{
	margin-top: 10px;
	margin-bottom: 13px;
}

/*					separacion textarea,arreglos	*/
textarea{
	margin-top: 14px;
	height: 5em;
	margin-bottom: 25px
}

/*		decoracion  forma de button				*/

button{
	width: 100%;
	height:3em;
	font-size: 1.3em;
	font-weight: bold;
	background-color:#04B4AE;
	padding: 0%;
	border-radius: 5px;
	color: white;

    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
}

/*		decoracion copyright*/

h4{
	text-align: center;
	color: #A9A9A9;
	font-weight: 1px
}

/*	tamaño letra*/

*{
	font-size: 1.05em
}
.text-des2{
	font-size: 1.03em
}
/*		*/

input[type="radio"]:checked{
		background-color:red;

}


/* Crea la esfera*/
.containe {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 1.05em;
    user-select: none;
}

/* oculta el boton original */
.containe input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create un boton personalible */
.checkmar {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}



/* pone el color de fondo del cirsulo */
.containe input:checked ~ .checkmar {
    background-color: #2196F3;
}

/* Create el punto del medio */
.checkmar:after {
    content: "";
    position: absolute;
    display: none;
}

/* Muestra el punto blanco */
.containe input:checked ~ .checkmar:after {
    display: block;
}

/* posision del punto blanco */
.containe .checkmar:after {
 	top:7px ;
	left:7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}


/* crea el cuadro (non se ve)*/
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 0.8em;
}

/* esconde el autentico input */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* pone el cuadro y modifica */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* color de fondo del cuadro */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* crea el tik del medio (no se ve) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* le dice como ponerse todo el contenedor */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Personaliza el tikr */
.container .checkmark:after {
    left: 7.89px;
    top: 3px;
    width: 2.8px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


.Se{
	padding-top: 10px
}
@media(min-width: 768px){

main,
footer,
.text-des,
.text-des2{
	width: 75%
}
}

@media(min-width: 1024px){

main,
footer,
.text-des,
.text-des2{
	width: 55%
}

#a input{
	padding: 1.5%
}

select{
	padding: 1.5%
}

}

