html{
	background-color:green;
}
body{
	margin: 0.5%;
	align-items: center;
	background-color: white;
}
header{
	text-align: center;
}

/* 			Decoracion de la cabeza						*/

.introd{padding: 2.5% 0 2.5% 0;
	background-color:#192d47;
	color:white;
	width: 100%;
	margin:0 auto;
 }
.introd p {margin-top: auto;margin-bottom: auto}

.text-des{
	font-weight: bold;	
	
}
.text-des2{
	color: #D5D5D5;
	
}

/*		Aguste de tamaño para separacion del borde		*/

.text-des {
	width: 90%;
	margin: 0 auto;
}
.text-des2{
	width: 90%;
	margin: 0 auto;
}
main{
	width: 90%;
	margin: 0 auto;
}
footer{
	width: 90%;
	margin: 0 auto;
}

/*		Lineas entre header y main				*/
.text-des2 {
	border-bottom-width:3px;
	border-bottom-style: solid;
	border-bottom-color: black;
	margin-bottom: 2px;
}
.text-des2 p{
	margin: 0 auto;
}
main{
	border-top-width:1px;
	border-top-style: solid;
	border-top-color: black;
	margin-top: 3px;

}
/*				retoque de los input			*/
input[type="text" ]{
	border-radius: 5px;

}
input[type="email" ]{
	border-radius: 5px;
}
textarea{
	border-radius: 5px;
}
select{
	border-radius: 5px;
}
/*							tamaño de los input		*/
#a input{
	width: 100%
}
input[id="zip"]{
	width: 50% !important;
}
textarea{
	width: 100%
}
select{
	width: 100%
}
/* colores input */
input{
	background-color: rgb(240,240,240);
}
select{
	background-color:rgb(240,240,240)
}
textarea{
	background-color:rgb(240,240,240)
}
.w3-hover-blue:hover{
color: white;
background-color: #00FFFF!important;
border-color: blue;
border-style: solid;
}


